@using Company.Model
@model List<CompanyModel>
<h1>Company List</h1>

<div class="row">
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Mobile</th>
			<th>GST Number</th>
			<th>PAN Number</th>
			<th>Address</th>
			<th>Action</th>
		</tr>
		@foreach(var company in Model)
		{
			<tr>
				<td>@company.Name </td>
				<td>@company.Email </td>
				<td>@company.Mobile </td>
				<td>@company.GST </td>
				<td>@company.PAN </td>
				<td>@company.Address </td>
				<td>Edit </td>
			</tr>
		}
	</table>
</div>
